<hr class="uk-grid-divider">
<div class="uk-panel uk-text-center">
    <p>Powered by <a href="http://getuikit.com">UIKit</a> and <a href="http://flask.pocoo.org">Flask</a>.</p>
    <p>Copyright 2012-2016 Eukaryotic Transcriptomics (Yang Lab). All rights reserved.</p>
</div>
