<div id="nav-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li><a href="{{ url_for('index') }}"><i class="uk-icon-home"></i> Home</a></li>
            <li><a href="{{ url_for('news') }}"><i class="uk-icon-newspaper-o"></i> News</a></li>
            <li><a href="{{ url_for('team') }}"><i class="uk-icon-users"></i> Team</a></li>
            <li><a href="{{ url_for('publications') }}"><i class="uk-icon-file-text"></i> Publications</a></li>
            <li><a href="{{ url_for('resources') }}"><i class="uk-icon-cubes"></i> Resources</a></li>
            <li><a href="{{ url_for('login') }}"><i class="uk-icon-user"></i> Login</a></li>
        </ul>
    </div>
</div>
