<nav class="uk-navbar uk-margin-top uk-margin-bottom" data-uk-sticky="{top:-50}">
    <a class="uk-navbar-brand uk-hidden-small" href="#">Yang Lab</a>
    <ul class="uk-navbar-nav uk-hidden-small">
        <li><a href="{{ url_for('index') }}"><i class="uk-icon-home"></i> Home</a></li>
        <li><a href="{{ url_for('research') }}"><i class="uk-icon-laptop"></i> Research</a></li>
        <li><a href="{{ url_for('news') }}"><i class="uk-icon-newspaper-o"></i> News</a></li>
        <li><a href="{{ url_for('team') }}"><i class="uk-icon-users"></i> Team</a></li>
        <li><a href="{{ url_for('publications') }}"><i class="uk-icon-file-text"></i> Publications</a></li>
        <li><a href="{{ url_for('resources') }}"><i class="uk-icon-cubes"></i> Resources</a></li>
    </ul>
    <div class="uk-navbar-flip uk-hidden-small">
        <ul class="uk-navbar-nav">
            <li><a href="{{ url_for('login') }}"><i class="uk-icon-user"></i> Login</a></li>
        </ul>
    </div>
    <a href="#nav-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Yang Lab</div>
</nav>
