{% extends 'admin/master.html' %}

{% block body %}
<div class="well">
    <h3>Yang Lab Admin</h3>
    <p class="lead">Hi, welcome to the administration of yanglab website!</p>
    <p><a href="http://www.picb.ac.cn/rnomics">Return Home</a></p>
</div>
{% endblock %}
