<!DOCTYPE html>
{% block html %}
<html lang="en">
{% endblock html %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ name|capitalize }} of Eukaryotic Transcriptomics -- PICB">
    <meta name="author" content="Eukaryotic Transcriptomics -- PICB">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <title>Eukaryotic Transcriptomics (Yang Lab) -- PICB</title>

    {% block assets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.almost-flat.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/sticky.almost-flat.min.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/components/sticky.min.js') }}" type="text/javascript" charset="utf-8"></script>
    {% endblock assets %}

</head>

<body>

    {% block body %}

    <div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">

        {% include "assets/title.html" %}

        {% include "assets/navbar.html" %}

        <article class="uk-article">

            {% block content %} {% endblock content %}

        </article>

        {% include "assets/footer.html" %}

    </div>

    {% include "assets/nav-offcanvas.html" %}

    <script type="text/javascript">
    $('.uk-navbar a:contains("{{ name|capitalize }}")').parent().addClass('uk-active');
    $('.uk-nav a:contains("{{ name|capitalize }}")').parent().addClass('uk-active');
    </script>

    {% endblock body %}

</body>

</html>
