{% extends "base.html" %} 

{% block assets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/slideshow.almost-flat.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/slidenav.almost-flat.min.css') }}" type="text/css">
<script src="{{ url_for('static', filename='js/components/slideshow.min.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock assets %} 

{% block content %}
<div class="uk-slidenav-position uk-margin-top uk-margin-bottom" data-uk-slideshow="{kenburns:true, autoplay:true}">
    <ul class="uk-slideshow">
        {% for picture in pictures %}
        <li><img src="{{ url_for('static', filename='image/pictures/' + picture) }}" alt="picture" width="800" height="400"></li>
        {% endfor %}
    </ul>
    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" style="color: rgba(255,255,255,0.4)"></a>
    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" style="color: rgba(255,255,255,0.4)"></a>
</div>

<div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-3-5">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-header" style="height: 520px;">
            <h2 class="uk-panel-title">News</h2>
            <ul class="uk-list-space uk-vertical-align-top">
                {% for entry in news %}
                <li>
                    <p class="uk-article-lead"><em class="uk-text-danger">{{ entry.year }} {{ entry.month }}</em>: {{ entry.content|strong|safe }}</p>
                </li>
                {% endfor %}
            </ul>
            <a class="uk-button-link uk-align-right uk-text-large" href="{{ url_for('news') }}" type="button">More</a>
        </div>
    </div>

    <div class="uk-width-medium-2-5">

        <div class="uk-panel uk-panel-box uk-panel-box uk-panel-box-secondary uk-panel-header">
            <h2 class="uk-panel-title">Collaborators & Supports</h2> 
            {% for collaborator in collaborators %}
            <p><a class="uk-link-muted" href="{{ collaborator.link }}"><i class="uk-icon-user"></i> {{ collaborator.info }}</a></p>
            {% endfor %}
            {% for support in supports %}
            <p><a class="uk-link-muted" href="{{ support.link }}"><i class="uk-icon-institution"></i> {{ support.info }}</a></p>
            {% endfor %}
        </div>

        <div class="uk-panel uk-panel-box uk-panel-box uk-panel-box-secondary uk-panel-header" style="margin-top: 18px">
            <h2 class="uk-panel-title">Links</h2>
            {% for link in links %}
            <p><a class="uk-link-muted" href="{{ link.link }}"><i class="uk-icon-link"></i> {{ link.info }}</a></p>
            {% endfor %}
        </div>

        <div class="uk-panel uk-panel-box uk-panel-box uk-panel-box-secondary uk-panel-header" style="margin-top: 18px">
            <h2 class="uk-panel-title">Contact</h2>
            <p><i class="uk-icon-street-view"></i> Address: {{ contact.address }}</p>
            <p><i class="uk-icon-phone"></i> Telephone: {{ contact.telephone }}</p>
            <p><i class="uk-icon-envelope"></i> Email: {{ contact.email }}</p>
        </div>

    </div>
    
</div>
{% endblock content %}
