{% extends "base.html" %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="uk-article-title">News</h2>
    </div>
</div>

{% for year in news|groupby('year')|reverse %}
<div class="uk-grid" data-uk-grid-margin data-uk-scrollspy="{cls:'uk-animation-fade', target:'div > .uk-panel', delay:5, repeat:true}">
    <div class="uk-width-1-1">
        <div class="uk-panel">
            <h2>{{ year.grouper }}</h2>
        </div>
        {% for entry in year.list|sort(attribute='idx', reverse=True) %}
        <div class="uk-panel">
            <p class="uk-article-lead">
                <span class="uk-text-bold uk-text-danger">{{ entry.month }}:</span>
                {{ entry.content|strong|safe  }}
                {% if entry.link %}
                <a href="{{ entry.link }}">Check it out here.</a>
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}

