{% extends "base.html" %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="uk-article-title">Resources</h2>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    {% for entry in resources %}
    <div class="uk-width-medium-1-2">
        <a href="{{ entry.link }}" class="uk-panel uk-panel-box uk-panel-hover uk-panel-header">	
            <h2 class="uk-panel-title">{{ entry.name }}</h2>
            <p class="uk-article-lead">{{ entry.content|strong|safe }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
