{% extends "base.html" %}

{% block assets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/tooltip.almost-flat.min.css') }}" type="text/css">
<script src="{{ url_for('static', filename='js/components/tooltip.min.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock assets %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="uk-article-title">Team</h2>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-3 uk-push-1-3 uk-text-center">
        <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
            <figure class="uk-overlay">
                <img class="uk-border-circle" src="{{ url_for('static', filename='image/photo/' + pi.image) }}" alt="photo">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                    <div>
                        <a href="mailto:{{ pi.email }}" class="uk-icon-button uk-icon-envelope" data-uk-tooltip title="Email"></a>
                        {% if pi.link %}
                        <a href="{{ pi.link }}" class="uk-icon-button uk-icon-link" data-uk-tooltip title="{{ pi.link_tag }}"></a>
                        {% endif %}
                    </div>
                </figcaption>
            </figure>
        </div>
        <h2 class="uk-margin-remove">{{ pi.name }}</h2>
        <p class="uk-text-large uk-margin-remove uk-text-muted">{{ pi.title }}</p>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Room: {{ pi.room }}</p>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Telephone: {{ pi.telephone }}</p>
    </div>
</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    {% for user in stuff|sort(attribute='idx') %}
    <div class="uk-width-medium-1-4 uk-text-center">
        <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
            <figure class="uk-overlay">
                <img class="uk-border-circle" src="{{ url_for('static', filename='image/photo/' + user.image) }}" alt="photo">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                    <div>
                        <a href="mailto:{{ user.email }}" class="uk-icon-button uk-icon-envelope" data-uk-tooltip title="Email"></a>
                        {% if user.link %}
                        <a href="{{ user.link }}" class="uk-icon-button uk-icon-link" data-uk-tooltip title="{{ user.link_tag }}"></a>
                        {% endif %}
                    </div>
                </figcaption>
            </figure>
        </div>
        <h2 class="uk-margin-remove">{{ user.name }}</h2>
        <p class="uk-text-large uk-margin-remove uk-text-muted">{{ user.title }}</p>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Room: {{ user.room }}</p>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Telephone: {{ user.telephone }}</p>
    </div>
    {% endfor %}
</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    {% for user in student|sort(attribute='idx') %}
    <div class="uk-width-medium-1-4 uk-text-center">
        <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
            <figure class="uk-overlay">
                <img class="uk-border-circle" src="{{ url_for('static', filename='image/photo/' + user.image) }}" alt="photo">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                    <div>
                        <a href="mailto:{{ user.email }}" class="uk-icon-button uk-icon-envelope" data-uk-tooltip title="Email"></a>
                        {% if user.link %}
                        <a href="{{ user.link }}" class="uk-icon-button uk-icon-link" data-uk-tooltip title="{{ user.link_tag }}"></a>
                        {% endif %}
                    </div>
                </figcaption>
            </figure>
        </div>
        <h2 class="uk-margin-remove">{{ user.name }}</h2>
        <p class="uk-text-large uk-margin-remove uk-text-muted">{{ user.title }}</p>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Room: {{ user.room }}</p>
        <p class="uk-text-large uk-margin-remove uk-text-muted">Telephone: {{ user.telephone }}</p>
    </div>
    {% endfor %}
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <div class="uk-thumbnail uk-thumbnail-expand">
            <img src="{{ url_for('static', filename='image/team.jpg') }}">
        </div>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h3 class="uk-article-title">Alumni</h3>
        <ul class="uk-list uk-list-striped uk-list-line">
            {% for user in alumni %}
            <li class="uk-text-large">{{ user.info }} <a href="{{ user.link }}"><i class="uk-icon-external-link"></i></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
